body {
  font-family: sans-serif;
}
td {
  vertical-align: top;
}
input[type="button"] {
  border: solid 1px #333;
  border-radius: 2px;
  color: #333;
}
input[type="text"] {
  border: solid 2px Grey;
  border-radius: 4px;
}
select {
  width: 100%;
  border: solid 2px Grey;
  border-radius: 4px;
}
#main_table {
  border: solid 2px Grey;
  border-collapse: collapse;
}
#main_table th {
  background-color: LightGrey;
}
#main_table td {
  border: solid 2px Grey;
}
#hardware th {
  border-top: solid 2px Black;
  background-color: transparent;
  text-align: left;
  font-family: monospace;
}
#hardware th {
  background-color: LightGrey;
}
#hardware th a {
  float: right;
}
#hardware td {
  border: none;
}
#hardware pre {
  margin: 0px;
}
#RAM {
  font-size: 0.8em;
}
#prog {
  font-size: 0.8em;
}
.keyboard {
  background-image: url('keyboard.png');
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
}
.help {
  color: LightGrey;
  font-size: 0.75em;
  font-family: sans-serif;
  text-align: left;
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.message {
  color: DarkBlue;
  font-size: 0.75em;
  font-family: monospace;
  text-align: left;
  width: 300px;
}
#HMD_shred {
  border-color: DarkRed;
  color: Red;
}
.sample {
  display: none;
}