body {
  font-family: sans-serif;
}
#main_table {
  border: solid 2px Grey;
  border-collapse: collapse;
}
#main_table th {
  background-color: LightGrey;
}
#main_table td {
  border: solid 2px Grey;
}
#hardware th {
  border-top: solid 2px Black;
  background-color: transparent;
  text-align: left;
  font-family: monospace;
}
#hardware th a {
  float: right;
}
#hardware td {
  border: none;
}
#hardware pre {
  margin: 0px;
}
#RAM {
  font-size: 0.8em;
}
#prog {
  font-size: 0.8em;
}
.keyboard {
  background-image: url('keyboard.png');
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
}
.help {
  color: LightGrey;
  font-size: 0.75em;
  font-family: sans-serif;
  text-align: left;
  right: 0px;
  bottom: 0px;
  position: absolute;
}